/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content p.subtitle {
  color: var(--muted);
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.card {
  background-color: var(--color-neutral);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  width: 100%;
  position: relative;
}

.horizontal-card .card {
  display: flex;
  height: 140px;
}

.horizontal-card img {
  width: 140px;
  height: 100%;
}

.card-body {
  padding: 1rem 1.2rem 1.2rem;
}

.card-body p {
  font-size: 0.85rem;
  color: var(--color-primary);
  margin-bottom: 0.4rem;
}

.card-body button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  color: var(--color-neutral);
  background-color: var(--color-secondary);
  border: 1.5px solid var(--color-secondary);
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition:
    background 0.2s,
    border-color 0.2s;
}

.card-body button:hover {
  background: var(--green);
  color: #13402b;
  border-color: var(--green);
}

.horizontal-card {
  display: flex;
  gap: 20px;
}

.horizontal-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* .upcoming-list {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5;
} */

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--green);
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.card-header h3 {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  flex: 1;
}

.price {
  font-weight: 700;
  font-size: 1rem;
  color: var(--accent);
  white-space: nowrap;
  margin-left: 0.5rem;
}
