* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "sidebar footer";
  grid-template-columns: 360px 1fr;
}

.header-container {
  grid-area: header;
  z-index: 2000;
}

.main-container {
  grid-area: main;
}

.sidebar-container {
  grid-area: sidebar;
  height: 100%;
  z-index: 1000;
}

.footer-container {
  grid-area: footer;
  /* z-index: -1; */
}
