@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap");

:root {
  /* Colors */
  --color-primary: #13402b;
  --color-secondary: #206141;
  --color-tertiary: #abeecf;
  --color-neutral: #0a1a12;

  /* Font */
  --font-headline: "Lexend", sans-serif;
  --font-body: "Manrope", sans-serif;
}

body {
  font-family: var(--font-body);
}

/* ------------------------------------------------------------------------------ */
/* rien que pour toi Thomas <3 */

/* Font */
.text-headline {
  font-family: var(--font-headline);
}
.text-body {
  font-family: var(--font-body);
}

/* Font colors */
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-neutral {
  color: var(--color-neutral);
}
/* background colors */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.bg-neutral {
  background-color: var(--color-neutral);
}
