.home-wrap {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.home-cardSports-title,
.home-suggestEvent-title {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--color-secondary);
  letter-spacing: 2px;
}

.container-card-sports {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.container-event-grid-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
