.activity-section {
  border: 1px solid var(--color-border);
  padding: 1.8rem;
  border-radius: 30px;
}

.activity-title-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.activity-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.activity-title p {
  background-color: var(--color-hover);
  padding: 8px 11px;
  border-radius: 20px;
  color: var(--color-secondary);
}

.activity-title-tab,
.activity-data-tab {
  display: grid;
  grid-template-columns: minmax(0, 600px) 1fr auto;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border);
}

.activity-title-tab {
  border-bottom: 2px solid var(--color-border);
}

.activity-title-tab h4 {
  color: var(--color-darker);
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.activity-data-tab span {
  color: var(--color-darker);
}

.activity-start-data {
  display: flex;
  gap: 10px;
}

.activity-logo-event {
  background-color: var(--color-border);
  padding: 6px 8px;
  border-radius: 10px;
  color: var(--color-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-start-data-adress p {
  color: grey;
}

.activity-middle-title,
.activity-middle-data {
  display: grid;
  grid-template-columns: 130px 130px 130px;
}

.activity-event-name,
.activity-score {
  font-weight: 700;
}

/* Ajout pour mettre en couleur le WIN et le LOSE */
.result-win,
.result-lose {
  display: inline-block;
  width: 55px;
  text-align: center;
  padding: 1px 0;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.8;
}

.result-win {
  background-color: #dcfce7;
}

.result-lose {
  background-color: #fee2e2;
}
