* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 280px;
  height: 100%;
  background-color: var(--color-white);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 2px 0px #0000004a;
}

.sidebar-nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  margin-top: 2.5rem;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li {
  width: 100%;
}

.sidebar-nav a {
  text-decoration: none;
  color: var(--color-darker);
  display: flex;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  align-items: center;
  gap: 0.5rem;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.sidebar-nav a:hover {
  background-color: var(--color-hover);
  color: var(--color-secondary);
}

.sidebar-nav a.active {
  background-color: var(--color-hover);
  color: var(--color-secondary);
}
