.Up-coming-section {
  border: 1px solid var(--color-border);
  background-color: var(--color-neutral);
  padding: 1.8rem;
  border-radius: 30px;
}

.Up-coming-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Up-coming-title-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.Up-coming-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Up-coming-title p {
  background-color: var(--color-hover);
  padding: 8px 11px;
  border-radius: 20px;
  color: var(--color-secondary);
}

.Up-coming-details {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: none;
}

.Up-comming-Event {
  background-color: var(--color-neutral);
  border-radius: 20px;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  height: 100%;
}

.Up-coming-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--color-neutral);
  border: 1px solid var(--color-border);
}

.Up-coming-month {
  color: var(--color-darker);
  font-size: 0.6rem;
}

.Up-coming-number {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.4rem;
}

.Up-coming-lieux {
  margin-right: 10px;
  flex: 1 1 0;
  min-width: 0;
}

.Up-coming-lieux h3 {
  font-size: 1rem;
}

.Up-coming-lieux p {
  font-size: 12px;
}

.Up-coming-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-stack {
  display: flex;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--color-neutral);
  margin-left: -10px;
  object-fit: cover;
}

.avatar:first-child {
  margin-left: 0;
}

.avatar-count {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}
