.skills {
  border: 1px solid var(--color-border);
  background-color: var(--color-neutral);
  padding: 1.8rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.Skills-title-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.Skills-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Skills-title p {
  background-color: var(--color-hover);
  padding: 8px 11px;
  border-radius: 20px;
  color: var(--color-secondary);
}

.skills__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 15px;
}

.skills__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__item-name {
  color: var(--color-primary);
}

.skills__item-level {
  color: var(--color-secondary);
  font-weight: bold;
}

progress {
  width: 100%;
  accent-color: var(--color-secondary);
}

.skills__button {
  background-color: var(--color-background-filter);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid var(--color-border);
  color: var(--color-primary);
}
